<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <div class='title'>
      <h1><%= link_to  "Todo or Not Todo", root_path %> </h1>
    </div>
  </header>

  <div id="flash_notice">
    <%= flash[:notice]%>
  </div>

  <div id="flash_warning">
    <%= flash[:warning]%>
  </div>

  <%= yield %>

</body>
</html>
